.container {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.btn__outline,
.btn__hamburger:hover {
    cursor: pointer;
}