%OpenSans-Bold {
    font-family: "OpenSans-Bold";
    font-weight: 700;
}

%OpenSans-Light {
    font-family: "OpenSans-Light";
    font-weight: 300;
}

%OpenSans-ExrtaBold {
    font-family: "OpenSans-ExrtaBold";
    font-weight: 800;
}

%OpenSans-SemiBold {
    font-family: "OpenSans-SemiBold";
    font-weight: 600;
}

%OpenSans-Regular {
    font-family: "OpenSans-Regular";
    font-weight: 400;
}

%link-accent {
    text-decoration: underline;
    color: $light-blue;
}