.main-page__about-me {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 768px) {
        padding-bottom: 45px;
        padding-top: 45px;
    }
}

.about-me__subtitle {
    border-bottom: 1px solid $light-blue;
}

.subtitle {
    @extend %OpenSans-Regular;
    font-size: clamp(1.5rem, 1.355rem + 0.72vw, 1.875rem);
    color: $black;
}

.about-me__list {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.about-me__item::before {
    content: "•";
    display: inline-block;
    width: 8px;
    height: auto;
}