.articles {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 80px;

    @media (max-width: 900px) {
        padding-bottom: 30px;
    }

    @media (max-width: 768px) {
        padding-bottom: 20px;
    }
}

.articles__title {
    text-align: center;
}

.articles__list-content {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    @media (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.articles__item-img--main {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

.articles__item {
    display: flex;
    gap: 14px;
    flex-direction: column;
}

.articles__item-span {
    display: flex;
    align-items: center;
    gap: 20px;
}

.articles__item-read--text {
    color: $light-blue;
    @extend %OpenSans-Regular;
}

.articles__item-title {
    @extend %OpenSans-SemiBold;
}

.articles__item-desc {
    @extend %OpenSans-Regular;
}

.articles__item-btn-more {
    color: $light-blue;
    @extend %OpenSans-Regular;
}

.articles__item-span--more {
    display: flex;
    align-items: center;
    gap: 3px;
}