.footer {
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 25px;
    flex-wrap: wrap;
    flex-direction: column;

    @media (max-width: 900px) {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    @media (max-width: 825px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }

    @media (max-width: 768px) {
        padding-bottom: 20px;
    }

    @media (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.footer__columns {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footer__link {
    color: $light-blue;
    text-decoration: underline;
}

.footer__columns-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.footer__columns-link--select {
    color: black;
    @extend %OpenSans-Regular;
}

.footer__columns-link--select:hover {
    color: $light-blue;

}

.footer__columns-title {
    font-size: 20px;
    @extend %OpenSans-SemiBold;
}

.footer__columns-schedule {
    font-size: 16px;
    @extend %OpenSans-Regular;
}

.footer__columns-contact {
    display: flex;
    gap: 7px;
    align-items: center;
}

.footer__columns-contact--text {
    font-size: 16px;
    @extend %OpenSans-Regular;
}