.education {
    padding-top: 160px;
    padding-bottom: 160px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;

    @media (max-width: 900px) {
        padding-top: 120px;
        padding-bottom: 60px;
    }

    @media (max-width: 768px) {
        padding-bottom: 40px;
    }
}

.education__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.education__certificate {
    max-width: 100%;
    height: auto;
}