.banner {
    background: url("../../images/banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.header-top {
    padding-top: 35px;
    padding-bottom: 35px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    @media (max-width: 768px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.header-top__wrapper-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo__div-text {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.logo__title {
    color: $blue;
    font-family: "Kalnia";
    font-weight: 600;
}

.logo__subtitle {
    color: $black;
    @extend %OpenSans-Bold;
    font-size: 14px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
        display: none;
    }
}

.menu__item {
    position: relative;

    &--hover {
        background-color: $white;
        padding: 12px;
        position: absolute;
        top: 21px;
        left: -12px;
        width: 226px;
        display: none;
        box-shadow: 0px 12px 24px 1px rgba(0, 0, 0, 0.25);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    &--margin {
        margin-bottom: 5px;
    }

    &--arrow {
        &::after {
            content: "";
            background-image: url("../../images/arrow-bottom.svg");
            display: block;
            width: 10px;
            height: 6px;
            position: absolute;
            top: 8px;
            right: -14px;
        }

        &:hover {
            background-color: $white;
        }
    }
}

.menu__item:hover .menu__item--hover {
    display: block;
}

.menu__link {
    @extend %OpenSans-Regular;
    color: $gray;
    position: relative;

    &:hover {
        @extend %link-accent;
    }
}

.btn__outline {
    @extend %OpenSans-Bold;
    color: $light-blue;
    padding: 10px 30px;
    font-size: .979rem;
    border: 1px solid $light-blue;
    background-color: inherit;
    border-radius: 25px;

    &:hover {
        color: $white;
        background-color: $light-blue;
    }
}

.header-top__lang-toggle {
    padding: 10px 30px 5px 10px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;

    &--hover:hover {
        box-shadow: 0px -7px 24px 1px rgba(0, 0, 0, 0.25);
    }

    @media (max-width: 1200px) {
        display: none;
    }
}

.item__lang-toggle--hover {
    display: none;
    position: absolute;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    bottom: -34px;
    left: 0;
    box-shadow: 0px 10px 24px 1px rgba(0, 0, 0, 0.25);
    padding: 5px 30px 10px 10px;
}

.header-top__lang-toggle:hover .item__lang-toggle--hover {
    display: block;
}

.btn {
    @media (max-width: 1200px) {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.btn__hamburger {
    display: none;

    @media (max-width: 1200px) {
        display: block;
        background-color: inherit;
        border: none;
    }
}

.header-bottom {
    padding-top: 170px;
    display: flex;
    gap: 30px;

    @media (max-width: 768px) {
        flex-direction: column;
        padding-top: 100px;
    }

}

.header-bottom__img {
    height: 477px;
    border-radius: 10px;

    @media (max-width: 768px) {
        display: none;
    }
}

.header-bottom__wrapper-bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 1200px) {
        gap: 20px;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.header-bottom__btn-phone {
    border: none;
    border-radius: 30px;
    background-color: $light-blue;
    width: 65px;
    height: 65px;
    position: fixed;
    bottom: 45px;
    left: 50px;
    z-index: 2;
}

.site-navigation {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.link-navigation {
    color: $black;
    @extend %OpenSans-Light;

    &:hover {
        @extend %link-accent;
    }
}


.page {
    color: $light-blue;
    @extend %OpenSans-Regular;
}

.title {
    @extend %OpenSans-Regular;
    font-size: 40px;
    color: $black;
}

.about-me__desc {
    display: flex;
    gap: 30px;
}

.about-me__text-background {
    width: 50%;
    color: rgba(0, 0, 0, .02);
    font-size: clamp(4.375rem, 0.605rem + 7.85vw, 6.25rem);
    @extend %OpenSans-SemiBold;
    margin: auto 0;

    @media (max-width: 768px) {
        display: none;
    }
}

.about-me__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &:last-child {
        @media (max-width: 1200px) {
            padding-bottom: 12px;
        }

        @media (max-width: 768px) {
            padding-bottom: 0;
        }
    }
}

.about-me__div-desc {
    padding-top: 25px;
    width: 50%;

    @media (max-width: 768px) {
        width: 100%;
    }
}


.text {
    @extend %OpenSans-Light;
    color: $gray;
    font-size: 1em;
}

.about-me__title {
    @media (max-width: 768px) {
        text-align: center;
    }
}

.header-bottom__photo {
    display: none;

    @media (max-width: 768px) {
        width: 400px;
        height: 500px;
        display: block;
        margin: 0 auto;
    }

    @media (max-width: 768px) {
        max-width: 100%;
        height: 439px;
    }
}