.prices {
    padding-top: 120px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

.prices__list {
    display: grid;
    grid-gap: 100px 30px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    @media (max-width: 1000px) {
        grid-gap: 20px;
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.prices__item {
    border-radius: 50px;
    padding: 50px 30px;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, .1);

    @media (max-width: 1000px) {
        padding: 40px 30px;
    }

    @media (max-width: 768px) {
        padding: 30px;
    }
}

.prices__div-time {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.prices__time {
    color: $light-blue;
    @extend %OpenSans-Bold;
    font-size: 16px;
}

.prices__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prices__selection {
    font-size: 16px;
    @extend %OpenSans-Bold;
    color: $black;
}

.prices__cost {
    font-size: 18px;
    color: $light-blue;
    @extend %OpenSans-Regular;
}