.servises__сatalog {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media (max-width: 768px) {
        padding-top: 35px;
        padding-bottom: 35px;
    }

}

.servises__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 1200px) {
        grid-gap: 25px;
    }

    @media (max-width: 768px) {
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

}

.servises__item {
    background-image: url("../../images/photonewphoto.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    position: relative;
    padding: 20px;
    transition: border-color 0.4s ease;

    &:hover {
        border-color: transparent;
        background: linear-gradient(90deg, rgba(102, 152, 248, .9), rgba(60, 95, 160, .9));
    }

    @media (max-width: 908px) {
        background: linear-gradient(90deg, rgba(102, 152, 248, .9), rgba(60, 95, 160, .9));

    }

    &--radius-Tleft {
        border-top-left-radius: 25px;

        @media (max-width: 768px) {
            border-top-right-radius: 25px;
        }
    }

    &--radius-Tright {
        border-top-right-radius: 25px;

        @media (max-width: 768px) {
            border-top-right-radius: 0;
        }
    }

    &--radius-Bleft {
        border-bottom-left-radius: 25px;

        @media (max-width: 768px) {
            border-bottom-right-radius: 25px;
        }
    }

}

.servises__item-content {
    opacity: 0;

    @media (max-width: 908px) {
        opacity: 1;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        min-height: 381px;
    }
}

.servises__item:hover .servises__item-content {
    opacity: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 370px;

    @media (max-width: 1050px) {
        min-height: 381px;
    }


}

.title-link {
    color: $white;
    font-size: 1.653em;
    @extend %OpenSans-Bold;

    &--hover:hover {
        text-decoration: underline;
    }

    &--position {
        position: absolute;
        left: 20px;
        bottom: 20px;
        right: 20px;
        z-index: 2;
        text-shadow: 0 18px 11px rgba(0, 0, 0, 0.4);

        @media (max-width: 908px) {
            opacity: 0;
        }
    }
}

.servises__item:hover .title-link--position {
    opacity: 0;
}

.servises__text {
    color: $white;
    font-size: 1.1em;
    @extend %OpenSans-SemiBold;

    @media (max-width: 908px) {
        font-size: 16px;
    }

    @media (max-width: 768px) {
        font-size: 15px;
    }
}

.link-detail {
    color: $white;
    font-size: 16px;
    @extend %OpenSans-Bold;
    margin-right: 6px;

    &:hover {
        text-decoration: underline;
    }

}