.reviews__сatalog {

    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;

    gap: 25px;
    flex-wrap: wrap;
    flex-direction: column;

    @media (max-width: 900px) {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    @media (max-width: 768px) {
        padding-bottom: 20px;
    }

}

.reviews__text {
    margin: 0;
    padding: 0;
}

.reviews__title {
    text-align: center;
}

.reviews__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;

    @media (max-width: 880px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.reviews__img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}